$Red: hsl(0, 100%, 68%);
$Red-hover: hsl(0, 100%, 73%);
$Very-DarkBlue: hsl(230, 29%, 20%);
$Dark-Grayish-Blue: hsl(230, 11%, 40%);
$Grayish-Blue: hsl(231, 7%, 65%);
$Light-Grayish-Blue: hsl(207, 33%, 95%);

$ff-body: "Barlow", sans-serif;
